@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background-color: #202124;
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #fbfbfe;
}

.site-header {
    position: sticky;
    top: 0;
    background: #42414d;
    z-index: 1200;
    height: 60px;
}

.header-content {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.site-title, .site-title:visited {
    text-decoration: none;
    color: #fbfbfe;
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}
