body {
    background-color: #194F92;
}

.msg {
    background-color: #CBD5F0;
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 10px;
    border: 1px solid #CBD5F0;
    border-radius: 15px;
}
